
<!--右导航-->
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 rightFixed">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding bg_color rightFixedImg text-center">
		<img src="__STYLE__/img/rightPhone.png" />
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHover">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 clearpadding text-center">
					<img src="__STYLE__/img/rightPhone.png" />
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 clearpadding rightfont text-center">
					<a href="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHoverFonts">咨询热线</a>
					<a href="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHoverFont">{$site.mobile}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding bg_color text-center rightFixedImg">
		<img src="__STYLE__/img/rightCustSer.png" />
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHover">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding text-center">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 clearpadding text-center">
					<img src="__STYLE__/img/rightCustSer.png" />
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 clearpadding rightFont text-left">
					<a href="{$site.customer_link}"  target="_blank" class="col-lg-12 col-md-12 clearpadding FixedHoverFont">在线咨询</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding bg_color text-center rightFixedImg">
		<img src="__STYLE__/img/rightCurric.png" />
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHover">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding text-center">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 clearpadding text-center">
					<img src="__STYLE__/img/rightCurric.png" />
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 clearpadding rightFont text-left">
					<a href="{$site.customer_link}" target="_blank" class="col-lg-12 col-md-12 clearpadding FixedHoverFont">了解课程</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding bg_color text-center rightFixedImg">
		<img src="__STYLE__/img/rightAudition.png" />
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHover">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding text-center">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 clearpadding text-center">
					<img src="__STYLE__/img/rightAudition.png" />
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 clearpadding rightFont text-left">
					<a href="{$site.customer_link}" target="_blank" class="col-lg-12 col-md-12 clearpadding FixedHoverFont">我要视听</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding bg_color text-center rightFixedImg">
		<img src="__STYLE__/img/rightFreeAds.png" />
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHover">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding text-center">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 clearpadding text-center">
					<img src="__STYLE__/img/rightFreeAds.png" />
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 clearpadding rightFont text-left">
					<a href="{$site.customer_link}" target="_blank" class="col-lg-12 col-md-12 clearpadding FixedHoverFont">0元入学</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding bg_color text-center rightFixedImg">
		<img src="__STYLE__/img/rightPen.png" />
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHover">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding text-center">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 clearpadding text-center">
					<img src="__STYLE__/img/rightPen.png" />
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 clearpadding rightFont text-left">
					<a href="{$site.customer_link}" target="_blank" class="col-lg-12 col-md-12 clearpadding FixedHoverFont">我要报名</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding bg_colorTop text-center rightFixedImg">
		<img src="__STYLE__/img/rightTop.png" />
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHover">
			<a href="#header" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpadding FixedHoverFont1 returnTop">返回顶部</a>
		</div>
	</div>
</div>
