		<!--底部-->
		<div class='col-lg-12 col-md-12 col-sm-12 bottoms'>
			<div class='col-lg-4 col-md-4 col-sm-4 col-sm-4 col-xs-4'></div>
			<div class='col-lg-4 col-md-4 icon col-sm-4 col-sm-4 col-xs-4'>
				<ul id='bottomNav' class='col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12'>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mybo"></div>
					<li class='col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center microBlog'>
						<a href='javascript:void(0)'>
							<img src='__STYLE__/img/micro-blog.png' width='100%'><br>
							<span>微博</span>
							<img class='code QRCode1 hide' src='{$site.weibo}' />
						</a>
					</li>
					<li class='col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center Wechat'>
						<a href='javascript:void(0)'>
							<img src='__STYLE__/img/Wechat.png' width='100%'><br>
							<span>微信</span>
							<img class='code QRCode2 hide' src='{$site.wx}' />
						</a>
					</li>
					<li class='col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center PostBar'>
						<a href='javascript:void(0)'>
							<img src='__STYLE__/img/PostBar.png' width='100%'><br>
							<span>贴吧</span>
							<img class='code QRCode3 hide' src='{$site.tieba}' />
						</a>
					</li>
					<li class='col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center Phone'>
						<a href='javascript:void(0)'>
							<img src='__STYLE__/img/Phone.png' width='100%'><br>
							<span>电话</span>
							<img class='code Telephone hide' src='{$site.phone_img}' />
						</a>
					</li>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				</ul>
			</div>
			<div class='col-lg-4 col-md-4 col-sm-4 col-sm-4 col-xs-4'></div>
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 introduce'>
				<div class='col-lg-3 col-md-3 col-sm-3 col-sm-3 col-xs-3'></div>
				<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center clearpadding address'>
					<p>@2003 - 2018 北京水晶石技术培训有限公司 版权所有 <a href="http://www.miitbeian.gov.cn/">{$site.record}</a></p>
				</div>
				<div class='col-lg-3 col-md-3 col-sm-3 col-xs-3'></div>
			</div>
		</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0daae19fbad2bba4fbcbf1b625ae8244";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 99351);
</script>
	</body>
</html>