{include file="public/head" /}
<link rel="stylesheet" type="text/css" href="__STYLE__/css/index.css" />
{include file="public/nav" /}
<!--内容-->
<div class="closeIconMore">
	<div class="col-xs-12 col-sm-12 clearpadding margin-top60">
		<img src="__STYLE__/img/groupLoanBg.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding margin-top60">
		<img src="__STYLE__/img/groupCover1.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding margin-top60">
		<img src="__STYLE__/img/groupCover2.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding margin-top60">
		<img src="__STYLE__/img/groupCover3.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding margin-top60">
		<img src="__STYLE__/img/groupCover4.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding bottoms margin-bottom80_38">
		<div class="col-xs-10 col-sm-10 clearpadding bottomTitle1s marginleft8_3 text-center padding-top20">
			【上海实训基地】
		</div>
		<div class="col-xs-10 col-sm-10 clearpadding bottomTitle1s marginleft8_3 text-center">
			上海水晶石教育科技有限公司
		</div>
		<div class="col-xs-10 col-sm-10 clearpadding bottomTitle1s marginleft8_3 text-center">
			咨询热线：{$site.mobile}
		</div>
		<div class="col-xs-10 col-sm-10 clearpadding bottomTitle1s marginleft8_3 text-center padding-bottom20">
			地址：上海市长宁区凯旋路1058号水晶石创意园
		</div>
	</div>
</div>
{include file="public/fiex" /}
{include file="public/foot" /}