{include file="public/head" /}
<link rel="stylesheet" type="text/css" href="__STYLE__/css/onRoom.css"/>
<link rel="stylesheet" type="text/css" href="__STYLE__/css/onRoomDetails.css" />
{include file="public/nav" /}


		<!--登录弹框隐藏需要把show改为hide-->
	<style>
		.paddingleft15{
			padding-left: 0;
		}
	</style>
		<!--登录-->
		<div class="col-xs-12 col-sm-12 clearpadding loginMb hide">
			<div class="col-xs-10 col-sm-10 clearpadding marginleft8_3 login paddingleftright10">
				<span class="col-xs-6 col-sm-6 clearpadding logTitle paddingleft10_">登录观看视频</span>
				<div class="col-xs-6 col-sm-6 clearpadding paddright10 text-right">
					<img class="clolog" src="__STYLE__/img/close.png" width="10%" />
				</div>
				<input type="text" name="phone" class="placePho col-xs-10 col-sm-10 marginleft8_3 clearpadding border-bottom2 paddleft10" placeholder="请填写你的手机号" />
				<div class="col-xs-10 col-sm-10 marginleft8_3 clearpadding plaCodes">
					<input name="code" class="col-xs-7 col-sm-7 clearpadding plaCode paddleft10" type="text" placeholder="请填写短信验证码" />
					<input type="button" class="col-xs-5 col-sm-5 clearpadding getCode text-right" value="获取验证码" id="getCode" />
				</div>
				<button class="btnLogin col-xs-10 col-sm-10 clearpadding marginleft8_3 codeLogin">登录</button>
			</div>
		</div>
		<!--昵称补充弹框隐藏需要把show改为hide-->
		<!--昵称补充-->
		<div class="col-xs-12 col-sm-12 clearpadding loginMbs hide">
			<div class="col-xs-10 col-sm-10 clearpadding marginleft8_3 login paddingleftright10">
				<span class="col-xs-6 col-sm-6 clearpadding logTitle paddingleft10_">资料补充</span>
				<div class="col-xs-6 col-sm-6 clearpadding paddright10 text-right">
					<img class="clolog" src="__STYLE__/img/close.png" width="10%" />
				</div>
				<div class="col-xs-10 col-sm-10 marginleft8_3 clearpadding plaCodes">
					<span class="col-xs-2 col-sm-2 clearpadding youNick">昵称</span>
					<input name="name" class="col-xs-8 col-sm-8 clearpadding plaCode paddleft10" type="text" placeholder="给自己一个响亮的名字" />
				</div>
				<div class="col-xs-10 col-sm-10 marginleft8_3 clearpadding plaCodes">
					<span class="col-xs-2 col-sm-2 clearpadding youNick">密码</span>
					<input name="password" class="col-xs-8 col-sm-8 clearpadding plaCode paddleft10" type="password" placeholder="请输入密码" />
				</div>
				<div class="col-xs-10 col-sm-10 marginleft8_3 clearpadding plaCodes">
					<span class="col-xs-2 col-sm-2 clearpadding youNick">确认密码</span>
					<input name="pwd" class="col-xs-8 col-sm-8 clearpadding plaCode paddleft10" type="password" placeholder="再次输入密码" />
				</div>
				<button class="btnLogin col-xs-10 col-sm-10 clearpadding marginleft8_3 register">登录</button>
			</div>
		</div>
		<!--内容-->
		<div class="closeIconMore">
		<div class="col-xs-12 col-sm-12 clearpadding margin-top60" id="player" data-srcVideo="{$detail['class']['video']}" data-srcImg="{$detail['class']['icon']}">

		</div>
		<!--<div class="col-xs-12 col-sm-12 clearpadding" id="player" data-srcVideo="http://img.ksbbs.com/asset/Mon_1703/05cacb4e02f9d9e.mp4" data-srcImg="img/Video1.png">-->

		<!--</div>-->
		<div class="col-xs-12 col-sm-12 clearpadding text-center">
			<div class="col-xs-4 col-sm-4 clearpadding detailTab "><span class="detailTabs detailTab1 myactive">全部</span></div>
			<div class="col-xs-4 col-sm-4 clearpadding detailTab "><span class="detailTab2 detailTabs">目录</span></div>
			<div class="col-xs-4 col-sm-4 clearpadding detailTab "><span class="detailTab3 detailTabs">评价</span></div>
		</div>
		<!--评论-->
		<div class="comment hide" id="SOHUCS" sid="请将此处替换为配置SourceID的语句" ></div>
		<!--目录-->
		<div class="col-xs-12 col-sm-12 clearpadding mL hide" style="margin-bottom: 100px;">
			{if condition="$detail['list']"}
				{volist name="$detail['list']" id="vo"}
					<div class="col-xs-12 col-sm-12 clearpadding onRoDetails paddingleftright10">
						<span data-srcVideo="{$vo.playcode}" data-srcImg="" class="col-xs-12 col-sm-12 clearpadding onRoDetail playMb">
							{$vo.title}
						</span>
						{if condition="$user"}
							<a href="{$vo.down_url}" target="_blank">
								<img class="download" src="__STYLE__/img/download.png" width="22%">
								<div class="col-xs-4 col-sm-4 clearpadding load">
									<img class="loadImg" src="__STYLE__/img/load.png" width="10%"/>
									<span class="loadName">素材下载</span>
								</div>
							</a>
							<div class="col-xs-4 col-sm-4 clearpadding load">
								<span class="loadName">密码：{$vo.pwd}</span>
							</div>
						{else/}
						<a href="javascript:;" class="place_login">
							<!--<img class="download" src="__STYLE__/img/download.png" width="22%">-->
							<div class="col-xs-4 col-sm-4 clearpadding load">
								<img class="loadImg" src="__STYLE__/img/load.png" width="10%"/>
								<span class="loadName">素材下载</span>
							</div>
						</a>
						{/if}
					</div>
				{/volist}
			{else/}
				<div class="col-xs-12 col-sm-12 clearpadding onRoDetails paddingleftright10">
					<p>暂无素材</p>
				</div>
			{/if}
		</div>
		<!--评价-->
		<div class="col-xs-12 col-sm-12 clearpadding all show"style="margin-bottom: 100px;">
			<div class="col-xs-12 col-sm-12 clearpadding onRoDetails paddingleftright10">
				<span class="col-xs-12 col-sm-12 clearpadding onRoDetail">
				{$detail['class']['brief']}
			</span>
				<div class="col-xs-12 col-sm-12 clearpadding broCol">
					<div class="col-xs-6 col-sm-6 clearpadding text-left broCols">
						<img class="broImg" src="__STYLE__/img/browse.png" width="12%" />
						<span>{$detail['class']['people']}</span>
					</div>
					<div class="col-xs-6 col-sm-6 clearpadding text-right broCols" data-id="{$detail['class']['id']}" data-collect="{$detail['class']['is_collect']}">
						<div class="collection {$detail['class']['is_collect'] ? 'show' : 'hide'}">
							<img class="colImg" src="__STYLE__/img/collection.png" width="8.33333%" />
							<span>取消收藏</span>
						</div>
						<div class="collection {$detail['class']['is_collect'] ? 'hide' : 'show'}">
							<img class="colImg" src="__STYLE__/img/collections.png" width="8.33333%" />
							<span>收藏</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 clearpadding paddingleftright10 teach">
				<div class="col-xs-2 col-sm-2 clearpadding">
					<img src="__STYLE__/img/teachHead.png" width="100%" />
				</div>
				<div class="col-xs-10 col-sm-10 clearpadding">
					<span class="col-xs-12 col-sm-12 clearpadding teachName paddleft10">主讲：{$detail['class']['teacher']}</span>
					<span class="col-xs-12 col-sm-12 clearpadding teachDetail paddleft10">{$detail['class']['teacher_sign']}</span>
				</div>
				<div class="col-xs-12 col-sm-12 clearpadding trainers">
					<span class="trainer">讲师简介</span>
				</div>
				<span class="col-xs-12 col-sm-12 clearpadding trainerDetails">{$detail['class']['teacher_brief']} </span>
			</div>
		</div>
	</div>
{include file="public/fiex" /}
{include file="public/foot" /}
<script type="text/javascript" src="/static/admin/js/layer.js" ></script>
<script type="text/javascript" src="__STYLE__/js/getCode.js"></script>
	<script>
		$(function() {
			$('.collection').click(function(){

			});
			//关闭登录界面按钮
			$('.clolog').click(function() {
				$('.loginMb').removeClass('show').addClass('hide');
			});
			$('.clolog').click(function() {
				$('.loginMbs').removeClass('show').addClass('hide');
			});


			$('.detailTabs').each(function() {
				$(this).click(function() {
					$(this).addClass('myactive').parent().siblings().children().removeClass('myactive');
				})
			});
			$('.detailTab1').click(function(){
				$('.all').removeClass('hide').addClass('show');
				$('.mL').removeClass('show').addClass('hide');
				$('.comment').removeClass('show').addClass('hide');
			})
			$('.detailTab2').click(function(){
				$('.all').removeClass('show').addClass('hide');
				$('.mL').removeClass('hide').addClass('show');
				$('.comment').removeClass('show').addClass('hide');
			})
			var is_login = "{$user ? 1 : 0}";
			$('.collection').each(function(){
				$(this).click(function(){
					if(!is_login){
						layer.msg('请先登录',{icon:0,time:1500});
						setTimeout(function(){
							$('.loginMb').removeClass('hide').addClass('show');
						},1500);
						return false;
					}
					var that = $(this);
					var collect = $(this).parent().attr('data-collect');
					var id = $(this).parent().attr('data-id');
					if(collect == 1){
						url = '{:url("project/delCollect")}';
						collect = 0;
					}else{
						url = '{:url("project/collect")}';
						collect = 1;
					}
					$.ajax({
						type:'POST',
						dataType:'json',
						url:url,
						data:{
							class:id
						},
						async: true,
						success:function(data){
							if(data.status){
								layer.msg(data.msg,{icon:1,time:1500});
								that.parent().attr('data-collect',collect);
								that.removeClass('show').addClass('hide').siblings().removeClass('hide').addClass('show');
							}else{
								layer.msg(data.msg,{icon:0,time:1500});
							}
						}
					});

				});
			});
		})
		$('.detailTab3').click(function(){
			$('.all').removeClass('show').addClass('hide');
			$('.mL').removeClass('show').addClass('hide');
			$('.comment').removeClass('hide').addClass('show');
		})

		$('.playMb').each(function() {
			$(this).bind('click', function() {
				//获取视频地址
				var urlVideo = $(this).attr('data-srcVideo');
				//获取封面图片
				var urlImg = $(this).attr('data-srcImg');

				//	填充 url
				var player = new ckplayer({
					container: '#player', //“#”代表容器的ID，“.”或“”代表容器的class
					variable: 'player1', //该属性必需设置，值等于下面的new chplayer()的对象
					poster: urlImg, //视频封面图片
					video: urlVideo, //视频地址
					loaded:'loadedHandler',//监听播放器加载成功
					autoplay: true //是否自动播放
				});
			});
		});

		//默认播放第一个视频 并获取第一个视频地址和封面图片
		var urlVideo = $('#player').attr('data-srcVideo');
		var urlImg = $('#player').attr('data-srcImg');
		var is_login = "{$user ? '1' : '0'}";
		//	填充 url
		var player = new ckplayer({
			container: '#player', //“#”代表容器的ID，“.”或“”代表容器的class
			variable: 'player1', //该属性必需设置，值等于下面的new chplayer()的对象
			poster: urlImg, //封面图片
			video: urlVideo, //视频地址
			loaded:'loadedHandler',//监听播放器加载成功
			autoplay: true //是否自动播放
		});
		function loadedHandler(){
			player.addListener('time', timeHandler);
		};
		function timeHandler(t){
			if(t >= 300 && !is_login){
				player.videoPause();
				layer.open({
					title: '提示',
					icon:1,
					content: '未登陆状态下只能试看5分钟，如想继续观看，请先登陆。',
					yes:function(index, layero){
						layer.close(index);
						login();
					},
					cancel:function(){
						login();
					}
				});
			}
		}

		$('.not_login').click(function(){
			layer.msg('请先登录',{icon:0,time:1500});
			setTimeout(login,1500);
		});

		function login(){
			$('.loginMb').removeClass('hide').addClass('show');
		}

		$('#getCode').click(function(){
			var phone = $('input[name=phone]').val();
			re = /^1[3|4|5|7|8|9]\d{9}$/;
			if(!re.test(phone)){
				return layer.open({
					title: '提示',
					content: '请输入正确的手机号'
				});
			}
			$.ajax({
				type:'POST',
				dataType:'json',
				url:'{:url("project/getMsg")}',
				data:{
					phone:phone
				},
				success:function(data){
					if(data.status){
						sendemail();
					}else{
						layer.open({
							title: '提示',
							icon:2,
							content: data.msg
						});
					}
				}
			});
		})

		$('.codeLogin').click(function(){
			var phone = $('input[name=phone]').val();
			var code = $('input[name=code]').val();
			re = /^1[3|4|5|7|8|9]\d{9}$/;
			if(!re.test(phone)){
				return layer.msg('请输入正确的手机号',{icon:0,time:1500});
			}
			re = /^\d{6}$/;
			if(!re.test(code)){
				return layer.msg('请输入6位数字验证码',{icon:0,time:1500});
			}
			$.ajax({
				type:'POST',
				dataType:'json',
				url:'{:url("project/codeLogin")}',
				data:{
					phone:phone,
					code:code
				},
				success:function(data){
					if(data.status){
						layer.msg(data.msg,{icon:1,time:1500});
						setTimeout(function(){
							location.reload();
						},1500)
					}else if(data.data == 1){
						$('.loginMb').removeClass('show').addClass('hide');
						$('.loginMbs').removeClass('hide').addClass('show');
					}else{
						layer.open({
							title: '提示',
							icon:2,
							content: data.msg
						});
					}
				}
			});
		})

		$('.register').click(function(){
			var name = $('input[name=name]').val();
			var phone = $('input[name=phone]').val();
			var code = $('input[name=code]').val();
			var password = $('input[name=password]').val();
			var pwd = $('input[name=pwd]').val();
			if(!name){
				return layer.msg('请输入昵称',{icon:0,time:1500});
			}
			re = /^1[3|4|5|7|8|9]\d{9}$/;
			if(!re.test(phone)){
				return layer.msg('请输入正确的手机号',{icon:0,time:1500});
			}
			re = /^\d{6}$/;
			if(!re.test(code)){
				return layer.msg('请输入6位数字验证码',{icon:0,time:1500});
			}
			if(!password || !pwd){
				return layer.msg('请输入密码',{icon:0,time:1500});
			}
			if(password != pwd){
				return layer.msg('两次密码不一致',{icon:0,time:1500});
			}
			$.ajax({
				type:'POST',
				dataType:'json',
				url:'{:url("project/register")}',
				data:{
					name:name,
					phone:phone,
					code:code,
					password:password
				},
				success:function(data){
					if(data.status){
						layer.msg('登陆成功',{icon:1,time:1500});
						setTimeout(function(){
							location.reload();
						},1500)
					}else{
						layer.open({
							title: '提示',
							icon:2,
							content: data.msg
						});
					}
				}
			});
		})

		$('.place_login').click(function(){
			layer.msg('请先登录',{icon:0,time:1500});
			setTimeout(function(){
				$('.loginMb').removeClass('hide').addClass('show');
			},1500);
		})

	</script>
<!--WAP版-->

	<script id="changyan_mobile_js" charset="utf-8" type="text/javascript"
	src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cyu1zpnnC&conf=prod_d039ac3ad2abe2faf485ce8332961453">
	</script>