{include file="public/header" /}


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
	<legend>
		<div class="layui-inline">
			<a href="{:url('cg/index')}" class="layui-btn layui-btn-normal">返回列表</a>
		</div>
	</legend>
</fieldset>

<form class="layui-form" id="form">
	<div class="layui-form-item">
		<label class="layui-form-label">标题<span style="color: #FF5722;">*</span>:</label>
		<div class="layui-input-block" style="width: 50%;">
			<input type="text" name="title" placeholder="请输入标题" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">封面图<span style="color: #FF5722;">*</span>:</label>
		<div class="layui-input-block">
			<img id="cover" style="width: 70px;height: 70px;" src="__STYLE__/img/upload.png" />
			<input id="img" type="file" accept="image/gif, image/jpeg, image/png, image/jpg" style="display: none;" name="icon" />
		</div>
		<label class="layui-form-label"></label>
		<!--<div class="layui-form-mid layui-word-aux">若为视频，则作为封面图</div>-->
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">简介:</label>
		<div class="layui-input-block" style="width: 50%">
			<textarea class="layui-textarea" name="brief"></textarea>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">发布日期</label>
			<div class="layui-input-inline">
				<input type="text" name="time" id="date" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">若为空则默认当前时间</div>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">是否显示<span style="color: #FF5722;">*</span></label>
		<div class="layui-input-block">
			<input type="checkbox" checked="" name="is_show" lay-skin="switch" lay-text="ON|OFF" value="1" />
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">是否推荐<span style="color: #FF5722;">*</span></label>
		<div class="layui-input-block">
			<input type="checkbox" name="is_recommend" lay-skin="switch" lay-text="ON|OFF" value="1" />
		</div>
		<div class="layui-form-mid layui-word-aux">推荐内容优先排在前列,其次按照发布时间先后顺序排列</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">浏览人数:</label>
		<div class="layui-input-block" style="width: 50%;">
			<input type="text" name="people" placeholder="" class="layui-input" value="0">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">内容:</label>
		<div class="layui-input-block" style="width: 80%;">
			<script id="container" name="content" type="text/plain" style="min-height:400px"></script>
		</div>
	</div>
	
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button type="button" class="layui-btn" id="button" data-url='{:url("cg/addarticle")}' data-succ='{:url("cg/index")}'>立即提交</button>
		</div>
	</div>
	
</form>
{include file="public/footer" /}
<script type="text/javascript" src="__STYLE__/js/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__STYLE__/js/ueditor/ueditor.all.js"></script>
<script>
	$(function(){
		var ue = UE.getEditor('container',{
			toolbars: [
				[
					'anchor', //锚点
					'undo', //撤销
					'redo', //重做
					'bold', //加粗
					'indent', //首行缩进
					'snapscreen', //截图
					'italic', //斜体
					'underline', //下划线
					'strikethrough', //删除线
					'subscript', //下标
					'fontborder', //字符边框
					'superscript', //上标
					'formatmatch', //格式刷
					'source', //源代码
					'blockquote', //引用
					'pasteplain', //纯文本粘贴模式
					'selectall', //全选
					'print', //打印
					'preview', //预览
					'horizontal', //分隔线
					'removeformat', //清除格式
					'time', //时间
					'date', //日期
					'unlink', //取消链接
					'insertrow', //前插入行
					'insertcol', //前插入列
					'mergeright', //右合并单元格
					'mergedown', //下合并单元格
					'deleterow', //删除行
					'deletecol', //删除列
					'splittorows', //拆分成行
					'splittocols', //拆分成列
					'splittocells', //完全拆分单元格
					'deletecaption', //删除表格标题
					'inserttitle', //插入标题
					'mergecells', //合并多个单元格
					'deletetable', //删除表格
					'cleardoc', //清空文档
					'insertparagraphbeforetable', //"表格前插入行"
					'insertcode', //代码语言
					'fontfamily', //字体
					'fontsize', //字号
					'paragraph', //段落格式
					'simpleupload', //单图上传
					'insertimage', //多图上传
					'edittable', //表格属性
					'edittd', //单元格属性
					'link', //超链接
					'emotion', //表情
					'spechars', //特殊字符
					'searchreplace', //查询替换
					'insertvideo', //视频
					'justifyleft', //居左对齐
					'justifyright', //居右对齐
					'justifycenter', //居中对齐
					'justifyjustify', //两端对齐
					'forecolor', //字体颜色
					'backcolor', //背景色
					'insertorderedlist', //有序列表
					'insertunorderedlist', //无序列表
					'fullscreen', //全屏
					'directionalityltr', //从左向右输入
					'directionalityrtl', //从右向左输入
					'rowspacingtop', //段前距
					'rowspacingbottom', //段后距
					'pagebreak', //分页
					'insertframe', //插入Iframe
					'imagenone', //默认
					'imageleft', //左浮动
					'imageright', //右浮动
					'attachment', //附件
					'imagecenter', //居中
					'wordimage', //图片转存
					'lineheight', //行间距
					'edittip ', //编辑提示
					'customstyle', //自定义标题
					'autotypeset', //自动排版
					'webapp', //百度应用
					'touppercase', //字母大写
					'tolowercase', //字母小写
					'background', //背景
					'template', //模板
					'scrawl', //涂鸦
					'music', //音乐
					'inserttable', //插入表格
					'drafts', // 从草稿箱加载
					'charts' // 图表
				]
			]
		});

		$("#cover").click(function(){
			$("#img").click();
		})
		$('#img').change(function() {
			var html = '';
			for(var i=0;i<(this.files).length;i++){
				var file = this.files[i];
				var r = new FileReader();
				r.readAsDataURL(file);
				$(r).load(function() {
					$("#cover").attr('src',this.result);
				})
			}
		})

		$('#type').on('click','div',function(){
			var val =$('input[name=type]:checked').val();
			if(val == 2){
				$('#video').show();
			}else{
				$('#video').hide();
			}
		})
		
		function checkForm(){
			var title = $("input[name='title']").val();
			var icon = $("input[name='icon']").val();

			if(!title){
				layer.msg('请输入标题',{icon:0,time:1000});
				return false;
			}
			if(!icon){
				layer.msg('请选择封面图',{icon:0,time:1000});
				return false;
			}
			return true;
		}
		/**
		 * ajax序列化提交表单
		 */
		$("#button").click(function(){
			var succ = $(this).attr("data-succ");
			var url = $(this).attr("data-url");
			var data = new FormData($("#form")[0]);
			if(checkForm()){
				var index = layer.load(2,{time:10000});
				$.ajax({
					url: url,
					type: 'POST',
					data: data,
					dataType:'json',
					async: true,
					cache: false,
					contentType: false,
					processData: false,
					success:function(date){
						layer.close(index);
						if(date.status == 1){
							layer.msg(date.msg,{icon:1,time:1000});
							setTimeout(function(){
								location.href = succ;
							},700)
						}else{
							layer.msg(date.msg,{icon:2,time:1000});
						}
					}
				});
			}
		})
	})

	layui.use(['form', 'layedit', 'laydate'], function() {
		var laydate = layui.laydate;

		//日期
		laydate.render({
			elem: '#date',
			type:'datetime'
		});
	});
</script>