*{
	margin: 0;
	padding: 0;
}
.EmploymentBg{
	background: url(../img/EmploymentBg.png) no-repeat;
	height: 454px;
	background-size: 100% 100%;
}
.StartStudent span{
	padding-left: 14px;
	font-size:30px;
	font-weight:400;
	color:rgba(0,0,0,1);
	border-left: 6px solid rgba(236, 130, 33, 1);
}

.ForMeCovers{
	height: 183px;
}
.ForMeImg{
	height: 183px;
}
.ForMeTitle{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ForMeDs{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.StudentCover{
	position: relative;
}
.stuTitle{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	position: absolute;
	left: 11px;
	width: 93%;
	color: white;
	font-size: 16px;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	padding: 15px;
}
.StarCover{
	position: relative;
}
.starImage{
	height: 400px;
}
.StarCoverMb{
	width: 100%;
	background:rgba(0,0,0,0.3);
	padding: 15px 0;
	position: absolute;
	bottom: 0;
}

.StudentCover1{
	width: 100%;
	height: 280px;
	transition: 1s;
	overflow: hidden;
	cursor: pointer;
}
/*.StudentCover1:hover{
	transform: scale(1.05);
}*/
/*.stuTitle:hover{
	transform: scale(1.05);
}*/
.StudentCover:hover{
	transform: scale(1.05);
}

.StarCoverMb span{
	overflow: hidden;
	font-size:18px;
	font-weight:300;
	color:rgba(255,255,255,1);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



.SelectMore a input{
	border: none;
	background: none;
	outline: none;
	width:170px;
	height:36px;
	border:1px solid rgba(51,51,51,1);
	font-size:18px;
	font-weight:300;
	color:rgba(0,0,0,1);
}
.SelectMore1 a input{
	border: none;
	background: none;
	outline: none;
	width:170px;
	height:36px;
	margin-left: 10%;
	border:1px solid rgba(51,51,51,1);
	font-size:18px;
	font-weight:300;
	color:rgba(0,0,0,1);
}
.SelectMore2 a input{
	border: none;
	background: none;
	outline: none;
	width:170px;
	height:36px;
	border:1px solid rgba(51,51,51,1);
	font-size:18px;
	font-weight:300;
	color:rgba(0,0,0,1);
}
.StudentCover{
	margin: 1.5% 0 0 0 ;
	position: relative;
}
.StudentCover .play{
	position: absolute;
	top: 36%;
	left: 44%;
}
.ForMeCover{
	padding: 20px 15px 25px 15px;
	background:rgba(245,245,245,1);
}
.ForMeTitle{
	font-size:16px;
	font-weight:300;
	color:rgba(51,51,51,1);
}
.ForMeDs{
	font-size:14px;
	font-weight:300;
	color:rgba(102,102,102,1);
	line-height:30px;
}

.playMb{
	cursor: pointer;
}
.ForMeCovers{
	width: 48%;
	margin: 1% 1%;
 	background:rgba(245,245,245,1);
}
.ForMeCover{
	 padding: 0 15px;
}
.ForMeTitle{
	padding: 0px 15px;
	font-size:16px;
	font-weight:300;
	color:rgba(51,51,51,1);
}
.ForMeDs{
	padding: 0 15px;
	font-size:14px;
	font-weight:300;
	color:rgba(102,102,102,1);
	line-height:30px;
}
.StarCover{
	margin: 1%;
	width:23%;
	position: relative;
	overflow: hidden;
}
.starCoverMbs {
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: -400px;
    left: 0;
    height: 400px;
    transition: bottom 0.7s;
    }
    .StarCover:hover .starCoverMbs{
    	bottom: 0;
    }
    .StarCoverMb {
    background: rgba(0,0,0,0.3);
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: bottom 0.7s;
}
	.StarCover:hover .StarCoverMb{
		bottom: 400px;
	}
	.starCoverMbName{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	font-size:18px;
	font-weight:400;
	color:rgba(255,255,255,1);
	padding-top: 47%;
}
.borderMb{
	width:40px;
	height:1px;
	background:rgba(255,255,255,1);
	margin: 0 auto;
	margin-top: 62%;
}
.starCoverMbTitle{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	padding-top: 5%;
	font-size:16px;
	font-weight:300;
	color:rgba(255,255,255,1);
	padding-left: 19px;
	padding-right:19px;
}
@media only screen and (max-width:1366px ) {
	.StarCoverMb span{
		font-size: 14px;
	}
	.starCoverMbName {
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		color: rgba(255,255,255,1);
	}
	.starCoverMbTitle{
		font-size: 14px;
	}
	.stuTitle{
		font-size: 14px;
	}
	.ForMeTitle{
		font-size: 14px;
	}
	.ForMeDs{
		font-size: 12px;
	}
	.StudentCover1{
		height: 200px;
	}

	.starImage{
		height: 230px;
	}
	.StarCoverMb {
    width: 100%;
    background: rgba(0,0,0,0.3);
    padding: 15px 0;
    position: absolute;
    bottom: 0;
}
.ForMeCovers{
	height: 160px;
}
.ForMeImg{
	width: 100%;
	height: 160px;
}
.starCoverMbs {
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: -230px;
    left: 0;
    height: 230px;
    transition: bottom 0.7s;
}
	.starCoverMbName{
		padding-top: 37%;
	}
.borderMb {
    width: 30px;
    height: 1px;
    background: rgba(255,255,255,1);
    margin: 0 auto;
    margin-top: 55%;
}
.StarCoverMb {
    background: rgba(0,0,0,0.3);
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: bottom 0.7s;
}
	.StarCover:hover .StarCoverMb{
		bottom:300px;
	}
	.starCoverMbName {
    text-align: center;
    font-weight: 400;
    color: rgba(255,255,255,1);
}
}
@media only screen and (min-width: 1440px) and (max-height: 900px) {
	.StudentCover1{
		height: 210px;
	}
	.StarCoverMb span{
		font-size: 14px;
	}
	.starCoverMbName {
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		color: rgba(255,255,255,1);
	}
	.starCoverMbTitle{
		font-size: 14px;
	}
	.stuTitle{
		font-size: 14px;
	}
	.ForMeTitle{
		font-size: 14px;
	}
	.ForMeDs{
		font-size: 12px;
	}
	.starImage{
		height: 300px;
	}

	.StarCoverMb {
		width: 100%;
		background: rgba(0,0,0,0.3);
		padding: 15px 0;
		position: absolute;
		bottom: 0;
	}
	.ForMeCovers{
		height: 137px;
	}
	.ForMeImg{
		width: 100%;
		height: 137px;
	}
	.starCoverMbs {
		width: 100%;
		background: rgba(0,0,0,0.5);
		position: absolute;
		bottom: -300px;
		left: 0;
		height: 300px;
		transition: bottom 0.7s;
	}
	.borderMb {
		width: 30px;
		height: 1px;
		background: rgba(255,255,255,1);
		margin: 0 auto;
		margin-top: 68%;
	}
	.StarCoverMb {
		background: rgba(0,0,0,0.3);
		padding: 15px 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		transition: bottom 0.7s;
	}
	.StarCover:hover .StarCoverMb{
		bottom:300px;
	}

}
@-moz-document url-prefix() {
	.starCoverMbTitle{
		display: block;
		position: relative;
		line-height: 30px;
		max-height: 100px;
		overflow: hidden;
	}
	.starCoverMbTitle::after{
		content: ""; position: absolute;
		bottom: 0;
		right: 0;
		padding-left: 40px;
		background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.55, #fff));
		background: -webkit-linear-gradient(left, transparent, #fff 55%);
		background: -moz-linear-gradient(left, transparent, #fff 55%);
		background: -o-linear-gradient(left, transparent, #fff 55%);
		background: linear-gradient(left, transparent, #fff 55%);
	}
	.starImage{
		height: 300px;
	}
	.starCoverMbs{
		height: 300px;
	}
	.starCoverMbName{
		padding-top: 42.5%;
	}
	.borderMb{
		margin-top: 62%;
	}
}
  
/*20190225 20:52 lfs  新加样式*/
@media only screen and (min-width: 900px) and (max-width: 1490px){
	.setHeight{  
		height: 300px !important; 
	}
	.starImage{
		height: 300px !important; 
	}
	.ForMeImg{
		height: 137px !important;
	}
	.ForMeCovers{
		height: 137px !important;
	}
	.ForMeDs{
		line-height: 24px !important;
	}
	.setListHeight{
		height: 210px !important;
	}
	.setListHeight .StudentCover1{
		height: 210px !important;
	}
	.setListHeight .stuTitle{
		height: 42px !important;
	    line-height: 12px;
	}
}  