{include file="public/head" /}
{include file="public/nav" /}
<!--内容-->
<div class="closeIconMore">
	<div class="col-xs-12 col-sm-12 clearpadding margin-top60">
		<img src="__STYLE__/img/introBg.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover1.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover2.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover3.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover4.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover5.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover6.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover7.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover8.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover9.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover10.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover11.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover12.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover13.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover14.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover15.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover16.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover17.png" width="100%"/>
	</div>
	<div class="col-xs-12 col-sm-12 clearpadding">
		<img src="__STYLE__/img/introcCover18.png" width="100%"/>
	</div>
	<!--底部-->
	<a href="freeTrial.html" class="col-xs-3 col-sm-3 clearpadding bottomTitle2 text-right">
		<img src="__STYLE__/img/freeTrial.png" width="35%"/>
	</a>
	<div class="col-xs-12 col-sm-12 clearpadding bottoms margin-bottom80_38">

		<div class="col-xs-12 col-sm-12 clearpadding consuMe text-center navbar-fixed-bottom">
			<div class="col-xs-6 col-sm-6 text-center borderright1">
				<a href="tel:400-820-6192">
					<img src="__STYLE__/img/telephone.png" width="25%"/>
					<span class="col-xs-12 col-sm-12 consuMeTitle">电话咨询</span>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 text-center ">
				<a href="#">
					<img src="__STYLE__/img/custSer.png" width="25%"/>
					<span class="col-xs-12 col-sm-12 consuMeTitle">在线咨询</span>
				</a>
			</div>
		</div>
	</div>
</div>
{include file="public/foot" /}
