
<div class="col-xs-12 col-sm-12 clearpadding consuMe text-center navbar-fixed-bottom">
    <div class="col-xs-6 col-sm-6 text-center borderright1">
        <a href="tel:{$site.mobile}">
            <img src="__STYLE__/img/telephone.png" width="25%"/>
            <span class="col-xs-12 col-sm-12 consuMeTitle">电话咨询</span>
        </a>
    </div>
    <div class="col-xs-6 col-sm-6 text-center">
        <a href="{$site.customer_link}">
            <img src="__STYLE__/img/custSer.png" width="25%"/>
            <span class="col-xs-12 col-sm-12 consuMeTitle">在线咨询</span>
        </a>
    </div>
</div>
</body>
<script type="text/javascript" src="__STYLE__/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="__STYLE__/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="__STYLE__/js/topclick.js" ></script>
<script type="text/javascript" src="__STYLE__/js/ckplayer.js" ></script>
<script type="text/javascript" src="__STYLE__/js/swiper.js" ></script>

</html>