{include file="public/head" /}
		<link rel="stylesheet" type="text/css" href="__STYLE__/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__STYLE__/css/topbottom.css"/>
		<link rel="stylesheet" type="text/css" href="__STYLE__/css/mycss.css" />
{include file="public/nav" /}
	
		<!--内容-->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg_img margin-top80">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 clearpadding marginleft6_9">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 login clearpadding marginleft25">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logins clearpadding">
						<span>注册用户</span>
					</div>
					<div id="hideSMSLogin" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logintext ">
						<input class="phone" name="name" type="text" placeholder="请输入你的昵称"/>
						<input class="phone" name="phone" type="text" placeholder="请输入你的手机号"/>
						<div class="passworddiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input class="password" name="code" type="text" placeholder="请输入验证码" />
							<input class="getCode" id="getCode" type="button" value="获取验证码"  />
						</div>
						<input class="SetPassword" name="password" type="password" placeholder="设置一个密码"/>
						<input class="" name="pwd" type="password" placeholder="确定你的密码"/>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearpaddingmargin">
							<div id="readhavelogin" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nowreg clearpaddingmargin">
								<div class="col-lg-1 col-lg-1 col-sm-1 col-xs-1 clearpaddingmargin">
									<img id="Agree" class="MyRead Agree hide"  src="__STYLE__/img/Agree.png" >
								</div>
									<!--<img class="Agree MyRead" id="NoAgree" src="__STYLE__/img/NoAgree.png" >-->
									<!--<span class="read MyRead">已阅读《用户协议》</span>-->
									<span class="havauser">已有账号</span>
									<a href="{:url('login/index')}" target="_blank" class="logingo">去登录</a>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearpaddingmargin padding_top21 btnlogin">
							<input type="button" id="btnlogin" value="注册" />
						</div>
					</div>
				</div>
			</div>
		</div>
{include file="public/foot" /}
	<script type="text/javascript" src="__STYLE__/js/jQuery-2.1.0.js" ></script>
	<script type="text/javascript" src="__STYLE__/js/topHover.js" ></script>
	<script type="text/javascript" src="__STYLE__/js/qrCodeAndPage.js" ></script>
	<script type="text/javascript" src="__STYLE__/js/getCode.js" ></script>
<script type="text/javascript" src="/static/admin/js/layer.js" ></script>
	<script>
		$(function(){
			$('#btnlogin').click(function(){
				var name = $('input[name=name]').val();
				var phone = $('input[name=phone]').val();
				var password = $('input[name=password]').val();
				var pwd = $('input[name=pwd]').val();
				var code = $('input[name=code]').val();
				re = /^1[3|4|5|7|8|9]\d{9}$/;
				if(!name){
					return layer.msg('请输入名称',{icon:0,time:1000});
				}
				if(!re.test(phone)){
					return layer.msg('请输入正确的手机号',{icon:0,time:1000});
				}
				if(!password || !pwd){
					return layer.msg('请输入密码',{icon:0,time:1000});
				}
				if(password != pwd){
					return layer.msg('密码不一致',{icon:0,time:1000});
				}
				if(password.length < 6 || password.length > 16){
					return layer.msg('密码长度在6-16位',{icon:0,time:1000});
				}
				re = /^\d{6}$/;
				if(!re.test(code)){
					return layer.msg('请输入6位验证码',{icon:0,time:1000});
				}
				$.ajax({
					type:'POST',
					dataType:'json',
					url:'{:url("login/registerPost")}',
					data:{
						name:name,
						code:code,
						password:password,
						phone:phone
					},
					success:function(data){
						if(data.status){
							location.href = '/';
						}else{
							layer.open({
								title: '提示',
								icon:2,
								content: data.msg
							});
						}
					}
				});
			});

			$('#getCode').click(function(){
				var phone = $('input[name=phone]').val();
				re = /^1[3|4|5|7|8|9]\d{9}$/;
				if(!re.test(phone)){
					return layer.open({
						title: '提示',
						content: '请输入正确的手机号'
					});
				}
				$.ajax({
					type:'POST',
					dataType:'json',
					url:'{:url("login/registerMsg")}',
					data:{
						phone:phone
					},
					success:function(data){
						if(data.status){
							sendemail();
						}else{
							layer.open({
								title: '提示',
								icon:2,
								content: data.msg
							});
						}
					}
				});
			})

			var i=0;
			$(".MyRead").click(function(){
				i++;
				if(i%2==0){
					$("#Agree").removeClass("show").addClass("hide");
				}
				else{
					$("#Agree").removeClass("hide").addClass("show");
				}
			});
		});
	</script>